.map{
    width: 50%;
    height: 50%;
}
.panzoom{
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 2px solid blue;
    color: blue;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.panzoom:hover{
    background-color:blue;
  color: white;
}
.panzoom:active{
    background-color: blue;
    border-color: blue;
  }